<div class="row">
  <div class="col-md-9 mb-3">
    <p class="lead">Add a new carrier field in Jira</p>
    <form [formGroup]="newCarrierForm" (ngSubmit)="addNewCarrierOption()">
      <div class="form-row mt-3">
        <div class="form-group col-sm-6 col-xl-4">
          <div>
            <label class="col-form" for="name">Carrier Name</label>
            <input class="form-control" type="text" id="name" formControlName="name" />
          </div>

          <div>
            <label class="col-form" for="id">Concept ID</label>
            <input class="form-control" type="text" id="id" type="number" formControlName="id" />
          </div>

          <div>
            <label class="col-form" for="country">Country</label>
            <select class="form-control" id="country" formControlName="country">
              <option *ngFor="let country of countries" [value]="country.code">
                {{ country.name }}
              </option>
            </select>
          </div>

          <button type="submit" style="margin-top: 4%;" class="btn btn-primary" [disabled]="newCarrierForm.invalid">
            Create Carrier Field
          </button>
        </div>
      </div>
    </form>

    <h4 style="margin-top: 2%">Carriers</h4>
    <div class="overflow-auto mb-3">
      <div class="mb-3">
        <input type="text" class="form-control col-md-3" placeholder="Search Carrier..." [(ngModel)]="searchTerm" />
      </div>

      <div *ngIf="isLoading" class="skeleton-loader skeleton-loader-table"></div>

      <table *ngIf="!isLoading" class="table table-responsive-sm col-md-3">
        <thead>
          <tr>
            <th>ID</th>
            <th>Carrier</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let option of filteredData | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
            <td>{{ option.id }}</td>
            <td>{{ option.value }}</td>
          </tr>
        </tbody>
      </table>

      <!-- Pagination Controls -->
      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
  </div>
</div>
<div
  class="toast"
  *ngIf="toastVisible"
  [ngClass]="{
    visible: toastVisible,
    'toast-success': toastType === 'success',
    'toast-error': toastType === 'error',
    'toast-warning': toastType === 'warning'
  }"
>
  <div class="toast-content">
    <span class="toast-message">{{ toastMessage }}</span>
    <button class="close-toast" (click)="hideToast()">×</button>
  </div>
</div>
